<div class="container mt-5">
  <h2 class="text-center mb-4">المهام</h2>
  <button type="submit" class="btn btn-primary btn-block mb-4">اضافه مهمة</button>
  <div class="row mb-4">
    <div class="col-md-4">
      <label for="statusFilter" class="form-label">الحالة</label>
      <select class="form-select" id="statusFilter" [(ngModel)]="statusId" (change)="filterTasks()">
        <option [ngValue]="undefined">الكل</option>
        <option *ngFor="let status of statuses" [ngValue]="status.id">{{ status.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="categoryFilter" class="form-label">الفئة</label>
      <select class="form-select" id="categoryFilter" [(ngModel)]="categoryId" (change)="filterTasks()">
        <option [ngValue]="undefined">الكل</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="priorityFilter" class="form-label">الأولوية</label>
      <select class="form-select" id="priorityFilter" [(ngModel)]="priorityId" (change)="filterTasks()">
        <option [ngValue]="undefined">الكل</option>
        <option *ngFor="let priority of priorities" [ngValue]="priority.id">{{ priority.name }}</option>
      </select>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>العنوان</th>
          <th>الوصف</th>
          <th>تاريخ البداية</th>
          <th>تاريخ النهاية</th>
          <th>الحالة</th>
          <th>الفئة</th>
          <th>الأولوية</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.startDate | date:'short' }}</td>
          <td>{{ task.endDate | date:'short' }}</td>
          <td>{{ task.taskStatusName || 'غير محدد' }}</td>
          <td>{{ task.taskCategoryName || 'غير محدد' }}</td>
          <td>{{ task.taskPriorityName || 'غير محدد' }}</td>
        </tr>
        <tr *ngIf="tasks.length === 0">
          <td colspan="7" class="text-center">لا توجد مهام</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>